@tailwind base;
@tailwind components;
@tailwind utilities;

.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}

body {
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
  overflow: clip;
}

:root {
  --overlay: 234, 14%, 14%;
  --foreground-3: 227, 13%, 28%;
  --foreground-2: 227, 16%, 17%;
  --foreground-1: 233, 16%, 11%;
  --primary: 228, 20%, 95%;
  --secondary: 220, 20%, 71%;
  --accent: 212, 100%, 55%;
  --accent-foreground: 221, 49%, 12%;
  --accent-border: 212, 83%, 35%;
  --background: 233, 18%, 9%;
  --warning: 29, 100%, 65%;
  --success-foreground: 176, 28%, 10%;
  --success: 144, 84%, 44%;
  --teritary: 220, 15%, 57%;
  --focus: 212, 100%, 55%;
  --warning-foreground: 30, 35%, 19%;
  --error: 4, 100%, 69%;
  --error-foreground: 332, 23%, 11%;
  --purple: 259, 100%, 55%;
  --purple-foreground: 259, 90%, 79%;
}

body[tab="0"] main {
  transform: translateX(0);
}

body[tab="1"] main {
  transform: translateX(-33.33333%);
}

body[tab="2"] main {
  transform: translateX(-66.66666%);
}

body[tab="0"] nav button[data-tab="0"] {
  opacity: 1;
}

body[tab="1"] nav button[data-tab="1"] {
  opacity: 1;
}

body[tab="2"] nav button[data-tab="2"] {
  opacity: 1;
}

.appear-blur {
  animation: appearBlur 0.3s ease-in-out;
  opacity: 1;
    backdrop-filter: blur(4px);
}

.appear-drawer {
  animation: appearDrawer 0.3s ease-in-out;
    transform: translateY(0%);
}

@keyframes appearBlur {
  0% {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
  100% {
    opacity: 1;
    backdrop-filter: blur(4px);
  }
}

@keyframes appearDrawer {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}