<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <link href="style.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      function withOpacity(variableName) {
        return ({ opacityValue }) => {
          if (opacityValue !== undefined) {
            return `hsla(var(${variableName}), ${opacityValue})`;
          }
          return `hsl(var(${variableName}))`;
        };
      }
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              primary: withOpacity("--primary"),
              teritary: withOpacity("--teritary"),
              secondary: withOpacity("--secondary"),
              foreground1: withOpacity("--foreground-1"),
              foreground2: withOpacity("--foreground-2"),
              background: withOpacity("--background"),
              accent: withOpacity("--accent"),
              accentForeground: withOpacity("--accent-foreground"),
              "accent-highlight": withOpacity("--accent-highlight"),
              accentBorder: withOpacity("--accent-border"),
              foreground3: withOpacity("--foreground-3"),
              orangeHightlight: withOpacity("--orange-highlight"),
              orangeForeground: withOpacity("--orange-foreground"),
              orangeSecondary: withOpacity("--orange-secondary"),
              success: withOpacity("--success"),
              successForeground: withOpacity("--success-foreground"),
              warning: withOpacity("--warning"),
              warningForeground: withOpacity("--warning-foreground"),
              error: withOpacity("--error"),
              errorForeground: withOpacity("--error-foreground"),
              overlay: withOpacity("--overlay"),
              focus: withOpacity("--focus"),
              purple: withOpacity("--purple"),
              purpleForeground: withOpacity("--purple-foreground"),
            },
            fontSize: {
              xs: [12, "19.2px"],
              sm: [14, "22.4px"],
              base: [16, "19.2px"],
              lg: [18, "21.6px"],
              xl: [20, "24px"],
              "3xl": [30, "36px"],
              "4xl": [36, "43.2px"],
            },
          },
        },
      };
    </script>
    <script src="https://telegram.org/js/telegram-web-app.js?56"></script>
    <title>Anonymizer</title>
  </head>
  <body class="bg-background">
    <main id="content" class="flex flex-col max-w-lg py-4 pb-10 mx-auto">
    <h1 class="text-4xl font-semibold mx-auto text-center mt-4 text-secondary">Приветули</h1>
    <div class="flex flex-col gap-2 px-4 pt-6">
      <input
        type="text"
        id="search"
        placeholder="Введите запрос для поиска"
        class="h-10 transition-all gap-3 justify-between duration-75 flex rounded-full px-4 items-center transition-all outline-accent/70 outline outline-0 outline-offset-2 hover:outline-2 ring-2 ring-accent/20 bg-primary/5 text-secondary max-w-full hover:text-primary w-full"
      />
      <div class="grid grid-cols-2 gap-2 mt-4">
        <button
          id="search-tor"
          class="h-12 p-2 rounded-lg bg-accent active:bg-accent/80 border border-white/20 ring-accentBorder transition-all ring-0 active:ring-4 text-primary"
        >
          Поиск через TOR
        </button>
        <button
          id="open-tiktok"
          class="h-12 p-2 rounded-lg bg-accent active:bg-accent/80 border border-white/20 ring-accentBorder transition-all ring-0 active:ring-4 text-primary"
        >
          TikTok через VPN
        </button>
        <button
          id="open-instagram"
          class="h-12 p-2 rounded-lg bg-accent active:bg-accent/80 border border-white/20 ring-accentBorder transition-all ring-0 active:ring-4 text-primary"
        >
          Instagram через VPN
        </button>
        <button
          id="open-2ip-tor"
          class="h-12 p-2 rounded-lg bg-accent active:bg-accent/80 border border-white/20 ring-accentBorder transition-all ring-0 active:ring-4 text-primary"
        >
          2ip.ru через TOR
        </button>
        <!-- Кнопка для 2ip через TOR -->
        <button
          id="open-2ip-vpn"
          class="h-12 p-2 col-span-2 rounded-lg bg-accent active:bg-accent/80 border border-white/20 ring-accentBorder transition-all ring-0 active:ring-4 text-primary"
        >
          2ip.ru через VPN
        </button>
        <!-- Кнопка для 2ip через VPN -->
      </div>
    </div>
    </main>

    <script src="script.js"></script>
  </body>
</html>
